ul, ol, li {
    list-style-type: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.clearfix {
    margin: 0px;
    padding: 0px;
    clear: both;
}
.none {
    display: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 650px;
    min-width: 300px;
    width: 90%;
    border: 1px solid #DADADA;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 8px;
    padding: 15px;
}

.player-wrapper .thumb {
    background: rgba(238, 238, 238, 0.30);
    height: 120px;
    text-align: center;
    padding: 15px;
}
.player-wrapper .thumb img {
    max-width: 100px;
    max-height: 100px;
}
.player-wrapper  .metainfo  p {
    margin-bottom: 4px;
    font-size: 12px;
    color: grey;
}
.player-wrapper  .song-title {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.player-wrapper  .action-btns {
    margin-top: 15px;
}
.player-wrapper  .action-btns  li {
    margin: 5px 12px;
    padding: 10px;
    border: 1px solid #0085ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #0085ff;
}
.player-wrapper  .action-btns  li:hover {
    cursor: pointer;
}

/* playlist */
.playlist-wrapper {
    margin-top: 15px;
}
.playlist-wrapper  ul.playlist  li.playlist-item {
    padding: 10px 5px;
    border-bottom: 1px dotted #DFDFDF;
}
.playlist-wrapper  ul.playlist  li.playlist-item:last-child {
    border-bottom: 0 none;
}
.playlist-wrapper  ul.playlist  li.playlist-item:hover {
    cursor: pointer;
}
.playlist-wrapper  ul.playlist  li.current-item {
    background: rgba(223, 223, 223, 0.40);
}
.playlist-wrapper  ul.playlist  li.current-item  span.play {
    display: none;
}
.playlist-wrapper  ul.playlist  li.current-item  span.pause {
    display: block;
}